Source: wvtftpd
Section: net
Priority: optional
Maintainer: Simon Law <sfllaw@debian.org>
Uploaders: Patrick Patterson <ppatters@debian.org>
Build-Depends: debhelper (>> 4.0.0), libwvstreams4.1-dev
Standards-Version: 3.6.1

Package: wvtftpd
Architecture: any
Depends: ${shlibs:Depends}
Description: Scarily FAST Trivial FTP Server
 Trivial File Transfer Protocol (TFTP) Server that implements pipelining
 to deliver files and boot images in an incredibly fast manner. Also
 configurable to help in large NetBoot installations.
